<div class="page">
  <div class="main-header">
    <h1 [routerLink]="'/'">Host Angular App</h1>
    <p>{{ login() ? 'Logged in' : 'Log in' }}</p>
  </div>
  <div class="side-nav">
    <ul>
      <li>
        <a [routerLink]="'/marketing'">React App</a>
      </li>
    </ul>
    <button (click)="loadAngular()">Load Angular component</button>
    <button (click)="toggle()">Toggle</button>
  </div>
  <div class="console">
    <router-outlet></router-outlet>
  </div>
  <div class="foot">
    <div #angularViewContainerRef></div>
  </div>
</div>
<!-- <div>
  <button (click)="loadReact()">Load React component</button>
</div> -->
<!-- <div>
  <button (click)="loadVue()">Load Vue component</button>
</div> -->

<!-- <div #reactElementRef></div> -->
<!-- <div #vueElementRef></div> -->
